.icon-bianhuajiance{
    font-size: 19px;
}
.icon-mubiaojiance{
    font-size: 23px;
}
.icon-erfenleibianhuajiance16px{
    font-size: 14px;
}
.icon-changjingguanli{
    font-size: 22px;
}
.icon-shijian{
    font-size: 20px;
}
.icon-github{
    font-size: 28px;
}
